*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
   
    
}

.form{
    background-color: white;
    padding: 10px 30px;
    width: 50%;
    margin-top: 130px;
    height: auto;
    border-radius: 10px;
    
}